.shiki {
    code {
        font-family: '宋体', 'cursive' !important;
    }
}

.theme-mix-content {
    table {
        font-size: 14px;
    }
}

.theme-mix-content h1 a.header-anchor,
.theme-mix-content h2 a.header-anchor,
.theme-mix-content h3 a.header-anchor,
.theme-mix-content h4 a.header-anchor,
.theme-mix-content h5 a.header-anchor,
.theme-mix-content h6 a.header-anchor {
    display: inline;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s cubic-bezier(.86,.13,.45,3);
}
.list-enter-from,
.list-leave-to {
    transform: scale(0.5) rotate(30deg);
    opacity: 0;
}

// @media (min-width: 1200px) {
//     .page .toc-wrap {
//         max-width: 20rem;
//     }
// }

// @use '../theme-mix/client/styles/index.scss';