.shiki {
    code {
        font-family: '宋体' !important;
    }
}

.theme-mix-content {
    code {
        font-family: '宋体' !important;
        padding: 0;
    }

    table {
        font-size: 14px;
    }

    figcaption {
        display: none;
    }

    div[class*=language-].ext-mud {
        width: 100%;
        box-sizing: border-box;

        code, pre {
            width: 100%;
        }

        &::before {
            content: "thu-mud";
            color: #6a6c6d;
        }
    
        &::after {
            width: 15px;
            background-image: url('/imgs/zmud-logo2.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            background-color:unset;
            border-radius: 0;
            transform: scale(1.5);
        }
    }
    
    div[class*=language-].ext-content {
        width: 100%;
        box-sizing: border-box;
        background-color: var(--deep-bg-color);

        code {
            padding: 0;
            margin: 0;
            width: 100%;
            background-color: unset;
            line-height: 1.5;
        }

        pre {
            width: 100%;
            padding: 2.2rem 1rem 1rem;
            margin: 0;
            overflow: auto;
        }

        &::before {
            content: "thu-content";
            color: #6a6c6d;
            display: none;
        }
    
        &::after {
            width: 20px;
            background-image: url('/imgs/zmud-logo.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            background-color: unset;
            border-radius: 0;
            transform: scale(1.5);
            display: none;
        }
    }
}

.theme-mix-content h1 a.header-anchor,
.theme-mix-content h2 a.header-anchor,
.theme-mix-content h3 a.header-anchor,
.theme-mix-content h4 a.header-anchor,
.theme-mix-content h5 a.header-anchor,
.theme-mix-content h6 a.header-anchor {
    display: inline;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s cubic-bezier(.86,.13,.45,3);
}
.list-enter-from,
.list-leave-to {
    transform: scale(0.5) rotate(30deg);
    opacity: 0;
}

@media (max-width: 575.98px) {
    .theme-mix-content {
        div[class*=language-].ext-content,
        div[class*=language-].ext-mud {
            width: 100vw;
        }
    }
}

// @media (min-width: 1200px) {
//     .page .toc-wrap {
//         max-width: 20rem;
//     }
// }

// @use '../theme-mix/client/styles/index.scss';